<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10  overflow-scroll">

        <!-- CONTENT GOES HERE -->
        <div class="h-100 border-gray-300 rounded-2xl">

            <!-- Header -->
            <div class="bg-card rounded-2xl">
                <div class="flex flex-col w-full mx-auto">
                    <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0">
                        <div class="grid grid-cols-3 gap-8 mb-6 w-full">
                            <div class="col-span-1 p-6">
                                <div class="flex justify-between">
                                    <div class="text-lg font-medium tracking-tight leading-6 truncate mb-6">Information
                                    </div>
                                    <button mat-flat-button [color]="'primary'" (click)="openSettingDialog()">
                                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:cog'"></mat-icon>
                                        <span class="ml-2">Settings</span>
                                    </button>
                                </div>

                                <form [formGroup]="editForm">
                                    <!-- Title -->
                                    <div class="mb-6">
                                        <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                                            <mat-label class="font-medium tracking-tight leading-6 truncate">
                                                Title</mat-label>
                                            <textarea matInput formControlName="title" [spellcheck]="false"
                                                matTextareaAutosize #titleField></textarea>
                                        </mat-form-field>
                                    </div>

                                    <!-- Description -->
                                    <div class="mb-6">
                                        <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                                            <mat-label class="font-medium tracking-tight leading-6 truncate">
                                                Description</mat-label>
                                            <textarea matInput formControlName="description" [spellcheck]="false"
                                                matTextareaAutosize #titleField></textarea>
                                        </mat-form-field>
                                    </div>

                                    <button class="w-full" mat-flat-button [color]="'primary'"
                                        (click)="updateProject()">
                                        <span>Save</span>
                                    </button>
                                </form>
                            </div>
                            <div class="col-span-1 p-6">
                                <div class="flex justify-between">
                                    <div class="text-lg font-medium tracking-tight leading-6 truncate mb-6">Members
                                    </div>
                                    <button class="" mat-flat-button [color]="'primary'"
                                        (click)="openAddMemberDialog()">
                                        <mat-icon svgIcon="heroicons_outline:plus"></mat-icon>
                                    </button>
                                </div>

                                <div *ngFor="let member of members"
                                    [ngClass]="member.role == 'Owner' ? 'text-red-600' : 'text-gray-500'"
                                    class="flex items-center mt-1.5 px-4 leading-9 rounded-full cursor-pointer bg-gray-100 dark:text-gray-300 dark:bg-gray-700 justify-between">
                                    <span class="flex gap-3 items-center">
                                        <mat-icon role="img"
                                            class="mat-icon notranslate icon-size-5 text-current mat-icon-no-color"
                                            aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="user"
                                            data-mat-icon-namespace="heroicons_solid">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                fill="currentColor" fit="" height="100%" width="100%"
                                                preserveAspectRatio="xMidYMid meet" focusable="false">
                                                <path fill-rule="evenodd"
                                                    d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                                                    clip-rule="evenodd">
                                                </path>
                                            </svg>
                                        </mat-icon><span class="ml-2 text-md font-medium">{{ member.fullname }}</span>
                                    </span>
                                    <span class="flex">
                                        <mat-icon (click)="removeMember(member.id)" class="text-red-600 cursor-pointer"
                                            svgIcon="heroicons_outline:x"></mat-icon>
                                    </span>
                                </div>
                            </div>
                            <div class="flex flex-col flex-auto rounded-2xl p-6">
                                <div class="flex items-start justify-between">
                                    <div class="grid grid-cols-2 gap-6 mb-6 w-full">
                                        <div class="col-span-1">
                                            <div class="text-lg font-medium tracking-tight leading-6 truncate">Sprints
                                            </div>
                                        </div>
                                        <div class="col-span-1 text-right">
                                            <button class="" mat-flat-button [color]="'primary'"
                                                (click)="openCreateSprintDialog()">
                                                <mat-icon svgIcon="heroicons_outline:plus"></mat-icon>
                                            </button>
                                        </div>
                                    </div>

                                </div>
                                <!-- Issue -->
                                <div class=" overflow-y-scroll max-h-60">
                                    <div class="flex flex-row items-center justify-between py-3 px-5 ng-star-inserted select-none bg-gray-100
                                    hover:bg-gray-200 dark:bg-hover dark:hover:bg-gray-600 hover:cursor-pointer rounded mb-2"
                                        (click)="backlogClick()">
                                        <div class="flex flex-col">
                                            <div class="flex space-x-3">
                                                <div class="font-medium text-green-600">Backlog</div>
                                                <div class="font-medium">Issue wil be added to backlog by default!</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngFor="let sprint of sprints">
                                        <div (click)="getSprint(sprint.sprintId)"
                                            class="flex flex-row items-center justify-between py-3 px-5 ng-star-inserted select-none
                                     bg-gray-100 hover:bg-gray-200 dark:bg-hover dark:hover:bg-gray-600 hover:cursor-pointer rounded mb-2 w-full">
                                            <div class="flex flex-col">
                                                <div class="flex space-x-3">
                                                    <div class="font-medium text-green-600">{{ sprint.sprintName }}
                                                    </div>
                                                    <div class="font-medium">Create by - <span class="text-blue-600">{{
                                                            sprint.creator.fullname }}</span></div>
                                                </div>

                                                <div
                                                    class="flex flex-col sm:flex-row sm:items-center -ml-0.5 mt-2 sm:mt-1 space-y-1 sm:space-y-0 sm:space-x-3">
                                                    <div class="flex items-center ng-star-inserted">

                                                        <div class="ml-1.5 text-md text-secondary">{{ sprint.createdDate
                                                            |
                                                            date: 'short'
                                                            }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="sprint.startedDate && sprint.finishedDate"
                                                class="items-center justify-center ">
                                                <div class="text-sm whitespace-nowrap text-secondary">
                                                    {{sprint.startedDate | date:'shortDate'}} => <span
                                                        class="text-red-600">{{sprint.finishedDate |
                                                        date:'shortDate'}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Main -->

            <div class="grid grid-cols-2 lg:grid-cols-2 w-full mt-6 md:mt-8 gap-8">
                <!-- Issue Activity Feed -->
                <div class="grid grid-cols-1 bg-card shadow rounded-2xl overflow-hidden p-6 max-h-60">
                    <div class="flex items-start justify-between">
                        <div class="grid grid-cols-2 gap-6 mb-6 w-full">
                            <div class="col-span-1">
                                <div class="text-lg font-medium tracking-tight leading-6 truncate">Sprint Settings</div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="selectedSprint">
                        <div class="flex justify-between mb-6">
                            <div class="title">
                                <span>Sprint name</span>
                                <div class="text-lg font-bold text-blue-600">{{selectedSprint.sprintName}}</div>
                            </div>
                            <div class="create-date">
                                <span>Create date</span>
                                <div class="text-lg font-bold text-green-600">{{selectedSprint.createdDate | date:
                                    'dd/MM/YYYY'}}</div>
                            </div>
                        </div>
                        <div class="status">
                            <span>Status</span>
                            <div class="flex gap-4">
                                <div *ngFor="let status of statuses"
                                    class="flex gap-4 item-center font-medium text-blue-700 bg-gray-300 px-3 py-2 rounded-full">
                                    <div class="cursor-pointer">
                                        {{status.name}}
                                    </div>
                                    <mat-icon (click)="removeStatus(status.id)" class="text-red-600 cursor-pointer"
                                        svgIcon="heroicons_outline:x"></mat-icon>
                                </div>
                                <div class="flex font-medium bg-green-400 px-3 py-2 rounded-full cursor-pointer"
                                    (click)="openAddStatusDialog()">
                                    <mat-icon svgIcon="heroicons_outline:plus"></mat-icon>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="grid grid-cols-1 w-full gap-4">
                    <!-- Project -->
                    <div class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden p-6">
                        <div class="flex items-start justify-between">
                            <div class="grid grid-cols-2 gap-6 mb-6 w-full">
                                <div class="col-span-1">
                                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Issues</div>
                                </div>
                                <div class="col-span-1 text-right">
                                    <button class="" mat-flat-button [color]="'primary'" (click)="openAddIssueDialog()">
                                        <mat-icon svgIcon="heroicons_outline:plus"></mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="max-h-80 overflow-y-scroll">
                            <div *ngFor="let issue of  issues">
                                <div class="flex flex-row items-center justify-between py-3 px-5 ng-star-inserted select-none bg-gray-100
                        hover:bg-gray-200 dark:bg-hover dark:hover:bg-gray-600 hover:cursor-pointer rounded mb-1"
                                    (click)="openIssueDetailDialog(issue.issueId)">
                                    <div class="flex flex-col">
                                        <div class="flex space-x-3">
                                            <div class="font-medium text-green-600">{{ issue.issueName }}</div>
                                            <div class="font-medium">{{ issue.description }}</div>
                                        </div>
                                        <div
                                            class="flex flex-col sm:flex-row sm:items-center -ml-0.5 mt-2 sm:mt-1 space-y-1 sm:space-y-0 sm:space-x-3">
                                            <div class="flex items-center ng-star-inserted">
                                                <div class="flex space-x-3">
                                                    <div class="ml-1.5 text-md text-secondary">{{ issue.createdDate
                                                        |
                                                        date:
                                                        'short' }}</div>
                                                    <div *ngIf="issue.status"
                                                        class="flex flex-wrap items-center -m-1 ng-star-inserted">
                                                        <div
                                                            class="m-1 py-0.5 px-3 rounded-full text-sm font-medium text-blue-500 bg-gray-200 dark:text-blue-500 dark:bg-gray-700 ng-star-inserted">
                                                            {{ issue.status.name }} </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="items-center justify-center">
                                    <div *ngIf="issue.priority" class="w-4 h-4 mr-3">
                                        <mat-icon *ngIf="issue.priority.name == 'low'"
                                            class="icon-size-4 text-green-600 dark:text-green-400"
                                            [svgIcon]="'heroicons_solid:arrow-narrow-down'" [title]="'Low'">
                                        </mat-icon>
                                        <mat-icon *ngIf="issue.priority.name == 'normal'"
                                            class="icon-size-4 text-blue-600 dark:text-blue-400"
                                            [svgIcon]="'heroicons_solid:arrow-narrow-left'" [title]="'Normal'">
                                        </mat-icon>
                                        <mat-icon *ngIf="issue.priority.name == 'critical'"
                                            class="icon-size-4 text-red-600 dark:text-red-400"
                                            [svgIcon]="'heroicons_solid:arrow-narrow-up'" [title]="'High'">
                                        </mat-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>