<div class="flex flex-col flex-auto -m-6 min-w-192">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Backlogs</div>
        <button mat-icon-button (click)="dialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>
    <!-- Main -->
    <div class="flex-auto p-6">
        <div *ngFor="let issue of  issues">
            <a (click)="addToSprint(issue)">
                <div class="flex flex-row items-center justify-between py-3 px-5 ng-star-inserted select-none bg-gray-100
            hover:bg-gray-200 dark:bg-hover dark:hover:bg-gray-600 hover:cursor-pointer rounded mb-3">
                    <div class="flex flex-col w-full">
                        <div class="flex space-x-3">
                            <div class="font-medium text-green-600">{{ issue.issueName }}</div>
                            <div class="font-medium">{{ issue.description }}</div>
                        </div>
                        <div
                            class="flex justify-between flex-col sm:flex-row sm:items-center -ml-0.5 mt-2 sm:mt-1 space-y-1 sm:space-y-0 sm:space-x-3 w-full">
                            <div class="flex items-center ng-star-inserted">
                                <div class="flex space-x-3">
                                    <div class="ml-1.5 text-md text-secondary">{{ issue.createdDate | date:
                                        'short' }}</div>
                                    <!-- <div class="flex flex-wrap items-center -m-1 ng-star-inserted">
                                    <div *ngIf="issue.status"
                                        class="m-1 py-0.5 px-3 rounded-full text-sm font-medium text-blue-500 bg-gray-200 dark:text-blue-500 dark:bg-gray-700 ng-star-inserted">
                                        {{ issue.status.name }} </div>
                                </div> -->
                                </div>
                            </div>
                            <div class="items-center justify-center ">
                                <button mat-flat-button [color]="'primary'">
                                    <mat-icon svgIcon="heroicons_outline:arrow-right"></mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <!-- <div class="items-center justify-center">
                <div *ngIf="issue.priority" class="w-4 h-4 mr-3">
                    <mat-icon *ngIf="issue.priority.name == 'low'"
                        class="icon-size-4 text-green-600 dark:text-green-400"
                        [svgIcon]="'heroicons_solid:arrow-narrow-down'" [title]="'Low'">
                    </mat-icon>
                    <mat-icon *ngIf="issue.priority.name == 'normal'"
                        class="icon-size-4 text-blue-600 dark:text-blue-400"
                        [svgIcon]="'heroicons_solid:arrow-narrow-left'" [title]="'Normal'">
                    </mat-icon>
                    <mat-icon *ngIf="issue.priority.name == 'critical'"
                        class="icon-size-4 text-red-600 dark:text-red-400" [svgIcon]="'heroicons_solid:arrow-narrow-up'"
                        [title]="'High'">
                    </mat-icon>
                </div>
            </div> -->
        </div>
    </div>
</div>