<div class="flex flex-col flex-auto min-h-100 -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Invite Member</div>
        <button mat-icon-button (click)="dialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>
    <!-- Main -->
    <div class="flex-auto p-6 w-full">
        <div class="mb-6">
            <div *ngIf="searchForm">
                <form [formGroup]="searchForm" (keyup)="searchMembers()">
                    <mat-form-field class="fuse-mat-no-subscript fuse-mat-rounded fuse-mat-dense w-full mb-3"
                        [floatLabel]="'always'">
                        <mat-icon matPrefix class="icon-size-5" [svgIcon]="'heroicons_solid:search'">
                        </mat-icon>
                        <input matInput [autocomplete]="'off'" [placeholder]="'Search members'"
                            formControlName="search">
                    </mat-form-field>
                </form>
            </div>
        </div>
        <div *ngFor="let member of members">
            <!-- Issue -->
            <div class="flex flex-row items-center justify-between py-3 px-5 ng-star-inserted select-none bg-gray-100
                        hover:bg-gray-200 dark:bg-hover dark:hover:bg-gray-600 hover:cursor-pointer rounded mb-2"
                (click)="addMember(member.id)">
                <div class="flex flex-col">
                    <div class="flex space-x-3">
                        <div class="font-medium text-gray-600">{{ member.fullname }}</div>
                    </div>

                </div>
                <div class="items-center justify-center ">
                    <div class="w-4 h-4 mr-3">
                        <!-- Low -->
                        <mat-icon class="icon-size-4 text-green-600 dark:text-green-400"
                            [svgIcon]="'heroicons_solid:arrow-narrow-right'" [title]="'Low'">
                        </mat-icon>
                        <!-- High -->
                        <!-- <mat-icon class="icon-size-4 text-red-600 dark:text-red-400"
                                                                        *ngIf="task.priority === 2"
                                                                        [svgIcon]="'heroicons_solid:arrow-narrow-up'" [title]="'High'">
                                                                    </mat-icon> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>