<div class="flex flex-col flex-auto -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Create Status</div>
        <button mat-icon-button (click)="dialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>
    <!-- Main -->
    <div class="flex-auto p-6">

        <!-- CONTENT GOES HERE -->
        <div class="border-gray-300 rounded-2xl">
            <div class="bg-card">
                <form [formGroup]="createStatusForm" class="flex justify-between items-center gap-4">
                    <mat-form-field class="flex-auto">
                        <mat-label>Status name</mat-label>
                        <input matInput [formControlName]="'name'">
                    </mat-form-field>
                    <button (click)="addStatus()" mat-flat-button [color]="'primary'">
                        <span>Create</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>