<div class="flex flex-col flex-auto -m-6 max-h-180">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Create Issue</div>
        <button mat-icon-button (click)="dialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>
    <!-- Main -->
    <div class="flex-auto p-6 overflow-y-auto">

        <!-- CONTENT GOES HERE -->
        <div class="border-gray-300 rounded-2xl">
            <div class="bg-card">
                <form [formGroup]="createForm">
                    <!-- Title -->
                    <div class="mb-6">
                        <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                            <mat-label>Title</mat-label>
                            <textarea matInput formControlName="name" [spellcheck]="false" matTextareaAutosize
                                #titleField></textarea>
                        </mat-form-field>
                    </div>
                    <div class="mb-6">
                        <div class="grid grid-cols-2 gap-3">
                            <!-- Priority -->
                            <div class="col-span-1">
                                <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                                    <mat-label>Priority</mat-label>
                                    <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_solid:globe-alt'"
                                        matPrefix>
                                    </mat-icon>
                                    <mat-select (valueChange)="changeValue($event)">
                                        <mat-option *ngFor="let priority of priorities" [value]="priority">{{
                                            priority.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <!-- Due date -->
                            <div class="col-span-1">
                                <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                                    <mat-label>Estimate (Hour)</mat-label>
                                    <input type="number" matInput formControlName="estimation" [spellcheck]="false"
                                        matTextareaAutosize #titleField />
                                </mat-form-field>
                            </div>
                        </div>

                    </div>
                    <div class="grid grid-cols-2 gap-3">
                        <div class="col-span-1">
                            <!-- Priority -->
                            <mat-form-field class="mb-0 w-full">
                                <mat-label>Assign to</mat-label>
                                <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_solid:globe-alt'" matPrefix>
                                </mat-icon>
                                <mat-select (valueChange)="changeMemberValue($event)">
                                    <mat-option *ngFor="let member of members" [value]="member">{{
                                        member.fullname }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-span-1">
                            <mat-form-field class="mb-0 w-full">
                                <mat-label>Type</mat-label>
                                <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_solid:globe-alt'" matPrefix>
                                </mat-icon>
                                <mat-select (valueChange)="changeTypeValue($event)">
                                    <mat-option *ngFor="let type of types" [value]="type">{{
                                        type.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="mb-6">
                        <mat-form-field class="mb-0 w-full">
                            <mat-label>Tags</mat-label>
                            <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_solid:globe-alt'" matPrefix>
                            </mat-icon>
                            <mat-select (valueChange)="changeTagValue($event)" multiple>
                                <mat-option *ngFor="let tag of tags" [value]="tag">{{
                                    tag.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <!-- Description -->
                    <div class="mb-6">
                        <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                            <mat-label>Description</mat-label>
                            <textarea matInput formControlName="description" [spellcheck]="false" matTextareaAutosize
                                #titleField></textarea>
                        </mat-form-field>
                    </div>

                    <div class="mb-6">
                        <div class="flex justify-center items-center w-full">
                            <label for="dropzone-file"
                                class="flex flex-col justify-center items-center h-32 w-full bg-gray-50 rounded-lg border-2 border-gray-300 border-dashed cursor-pointer dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                                <div class="flex flex-col justify-center items-center pt-5 pb-6">
                                    <svg aria-hidden="true" class="mb-3 w-10 h-10 text-gray-400" fill="none"
                                        stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12">
                                        </path>
                                    </svg>
                                    <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span
                                            class="font-semibold">Upload attach file</span> click to upload</p>
                                    <p class="text-xs text-gray-500 dark:text-gray-400">DOC, DOCX, EXCEL or PDF (MAX.
                                        25MB)</p>
                                </div>
                                <input id="dropzone-file" type="file" class="hidden">
                            </label>
                        </div>
                    </div>
                    <button class="w-full" mat-flat-button [color]="'primary'" (click)="createIssue()">
                        <span>Create</span>
                    </button>
                </form>

            </div>
        </div>

    </div>

</div>